<div [ngBusy]="{busy: [loadingAchievementData], message: 'Loading...', backdrop: false, delay: 200, minDuration: 600}"></div>
<div [style.display]="isAchievementDataLoaded?'inherit':'none'">
  <div class="row">
    <div class="col-md-5">
      <app-category-group *ngIf="isAuthorized" [categoryGroups]="categoryGroups" (loadCategoryGroupData)="onLoadData()" (categoryOpened)="showAchievementsFromCategory($event)"></app-category-group>
    </div>
    <div class="col-md-7"><app-achievement-list *ngIf="isAuthorized&&currentlyOpenedCategory" [currentlyOpenedCategory]="currentlyOpenedCategory" [accountAchievements]="accountAchievements"></app-achievement-list></div>
  </div>
</div>
