<div class="container">
  <nav class="navbar navbar-toggleable-md navbar-light" style="background-color: #e3f2fd;">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">{{title}}</a>

    <div class="collapse navbar-collapse" id="navbarColor03">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/achievements">Achievements <span class="sr-only">(current)</span></a>
        </li>
      </ul>
      <app-user (authorizated)="onAutorized($event)" (greeting)="onGreeting()" (logedout)="onLogout()" [isAuthorized]="isAuthorized" [account]="account"></app-user>
    </div>
  </nav>
</div>
<div class="container">
  <router-outlet></router-outlet>
</div>


